.form-login {
    width: 400px;
    height: 300px;
    box-shadow: 5px 5px 10px #f7f7f7,
        -5px -5px 10px #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
}


.container-login {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}